# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Lab05.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Documentos\Workspaces\POO\Labs\Lab05\Lab05\.idea\.idea.Lab05\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
